* {
    margin: 0;
    padding: 0;
    font-family: "Unkempt",serif;
  }
  
  body {
    background-color: #0e2425;
    text-align: center;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .container {
    height: 70vh;
    display: flex;
  
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 58vmin;
    width: 58vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
    background-color: #fff;
  }

  .initializer{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vmin;
  }

  .box {
    height: 18vmin;
    width: 18vmin;
    border: none;
    font-size: 8vmin;
    background-color: #0e2425;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box:hover{
  background-color: #191913;
}
  
  #reset-btn,#start-btn,#mode-select {
    padding: 1rem 2rem;
    background-color: #191913;
  }

.btn {
    position: relative;
    border-radius: 1rem;
    border: none;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
.btn:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
.btn:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
.btn::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
.btn:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  
  
  #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  .msg {
    color: #ffffc7;
    font-size: 1.8rem;
    margin:.5em
  }
  
  .hide {
    display: none;
  }

  .title{
    color:white;
    background-color: black;
    border-radius:5px;
    padding: .4em;
  }

  .love {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    align-self: center;
    position: absolute;
    bottom: .5em;
}

.love:active {
    text-decoration: none;
    color:#fff;
}

.vanish{
  opacity: 25%;
  transition: opacity .5s ease-out;
}